@import './theme.css';

.router-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--senlima-body-color);
  overflow-x: hidden;
  overflow-y: scroll;
}

.rhap_container {
  background-color: var(--senlima-body-color) !important;
}

.rhap_time {
  color: var(--senlima-text-color) !important;
}

.home-information {
  margin-top: 1em;
}

.home-information a {
  margin-right: 1em;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lastest-articles-container {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--senlima-text-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

@media screen and (max-width: 600px) {
  body {
    height: 100vh;
    overflow-y: hidden;
  }
}
