:root {
  --senlima-primary-color: #37f570;

  --senlima-text-color: #f8f8f8;
  --senlima-text-secondary-color: #9c9c9c;

  --senlima-body-color: #161616;
  --senlima-hover-color: #222222;

  --senlima-border-color: #f8f8f8;

  --senlima-background-color: #272727;
  --senlima-background-secondary-color: #202020;

  --senlima-dark-100: #161616;
  --senlima-dark-200: #202020;
  --senlima-dark-300: #272727;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './extra.css';

@import './markdown.css';
