:root {
  --senlima-primary-color: #37f570;

  --senlima-text-color: #f8f8f8;
  --senlima-text-secondary-color: #9c9c9c;

  --senlima-body-color: #161616;
  --senlima-hover-color: #222222;

  --senlima-border-color: #f8f8f8;

  --senlima-background-color: #272727;
  --senlima-background-secondary-color: #202020;

  --senlima-dark-100: #161616;
  --senlima-dark-200: #202020;
  --senlima-dark-300: #272727;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: var(--senlima-text-color);
  font-size: 14px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  background-color: var(--senlima-body-color);
}

.Typewriter {
  display: inline;
}

.rhap_container {
  background-color: var(--senlima-body-color) !important;
}

.rhap_time {
  color: var(--senlima-text-color) !important;
}

button {
  outline: none !important;
  border: none;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.outline-dotted-primary {
  outline: 1px dotted var(--senlima-primary-color) !important;
}

.article-item {
  height: 300px;
  transition: all 0.1s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .article-item {
    height: 175px;
  }
}

@import './markdown.css';
